---
import Menu from "./menu.astro";
import WallpapersList from "../components/IndexBlog";
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mi página con Firebase</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <Menu />
    <WallpapersList client:load/>
</html>