---
const header = "Menu";
---

<html lang="es">
  <body class="h-screen m-0 bg-gray-100 font-sans">
    <header class="fixed left-0 top-0 h-full w-64 md:w-80 bg-gradient-to-b from-gray-300 to-gray-100 shadow-xl flex flex-col items-center py-10">
      <h2 class="text-red-500 text-3xl font-extrabold tracking-wide mb-10 uppercase">{header}</h2>

      <nav class="w-full">
        <ul class="flex flex-col space-y-6 text-center">
          <li>
            <a href="sport" class="text-xl font-semibold text-gray-700 hover:text-red-500 transition duration-300">
                Sport
            </a>
          </li>
          <li>
            <a href="game" class="text-xl font-semibold text-gray-700 hover:text-red-500 transition duration-300">
                Games
            </a>
          </li>
          <li>
            <a href="anime" class="text-xl font-semibold text-gray-700 hover:text-red-500 transition duration-300">
              Anime
            </a>
          </li>
          <li>
            <a href="abstract" class="text-xl font-semibold text-gray-700 hover:text-red-500 transition duration-300">
              Abstract
            </a>
          </li>
          <li>
            <a href="/" class="text-xl font-semibold text-gray-700 hover:text-red-500 transition duration-300">
               All
            </a>
          </li>
        </ul>
      </nav>

      <footer class="absolute bottom-10 text-gray-500 text-sm">
        © 2025 Mi Sitio Web
      </footer>
    </header>
  </body>
</html>